@font-face {
  font-family: "AldercyPixel";
  src: url(./fonts/AldercyPixelDemoRegular-nAgdg.otf)
    format("opentype");
}

@font-face {
  font-family: "NapzerPixel";
  src: url(./fonts/NapzerPixelDemoRegular-aYyLa.otf)
    format("opentype");
}


html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

#gameHeader,
#credit {
  flex-shrink: 0;

  text-align: center;
  color: #ffffff;

  padding-top: 12px;
  padding-bottom: 12px;
}

#gameHeader {
  font-weight: 500;
  font-family: "AldercyPixel", "Segoe UI", sans-serif;
}

#credit {
  font-family: "NapzerPixel", "Segoe UI", sans-serif;
  line-height: 1.0;
}

#gameHeader {
  font-size: 40px;
  font-weight: bold;
}

#credit {
  font-size: 20px;
}

#gameScreen {
  flex-grow: 1;
  min-height: 0;

  width: 100%;
  object-fit: contain;

  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
